@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(95, 57, 57, 0.5), 
    rgba(0, 0, 0, 0.5)
  )
  ,url('../src/assets/fondo.jpg');
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed; /* Hace que la imagen no se desplace al hacer scroll */
  color: white; /* Color del texto */
  font-family: 'Arial', sans-serif; /* Fuente para un diseño limpio */
  margin: 0;
  padding: 0;
}