@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    rgba(248, 246, 246, 0.884),
    rgba(250, 247, 241, 0.911), 
    rgba(248, 246, 246, 0.884)
  )
  ,url('../src/assets/fondoblanco.png');
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed; /* Hace que la imagen no se desplace al hacer scroll */
  color: white; /* Color del texto */
  font-family: 'Arial', sans-serif; /* Fuente para un diseño limpio */
  margin: 0;
  padding: 0;
}