@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(
    rgba(214, 206, 206, 0.363),
    rgba(233, 227, 227, 0.959), 
    rgba(214, 206, 206, 0.363)
  )
  ,url('../src/assets/fondoclaro.jpg');
  background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
  background-position: center; /* Centra la imagen */
  background-attachment: fixed; /* Hace que la imagen no se desplace al hacer scroll */
  color: white; /* Color del texto */
  font-family: 'Arial', sans-serif; /* Fuente para un diseño limpio */
  margin: 0;
  padding: 0;
}